{% block popup_component %}
    {% set popup_attributes = attrs(popup_attributes|default)
        .set('id', 'easy-popup-' ~ popup.id)
        .addClass([popup.cssClass, 'easy-popup-container'])
    %}
    
    <dialog{{ popup_attributes }}>
        <div{{ attrs(popup_inside_attributes|default).addClass('easy-popup-inside') }}>
            {% block popup_close %}
                <form method="dialog">
                    <button{{ attrs(popup_close_attributes|default).addClass('easy-popup-close') }}>
                        {%- block popup_close_icon %}&times;{% endblock -%}
                    </button>
                </form>
            {% endblock %}

            {% block popup_inner %}
                <div{{ attrs(popup_content_attributes|default).addClass('easy-popup-content') }}>
                    {{ popup.content|raw }}
                </div>
            {% endblock %}
        </div>
    </dialog>

    {% block popup_script %}
        {% add "easy_popup_js" to body %}
            <script src="{{ asset('easy-popup.js', 'postyou_contao_easy_popup') }}"></script>
        {% endadd %}
    {% endblock %}
{% endblock %}
